body {
  overflow-x: hidden;
  font-family: 'Courier New', Courier, monospace;
  font-size: 16px;
  background-color: #ffffff;
}


/* Barra de navegación: Icono - Estilos */

.icon {
  width: 100%;
  height: 100%;
}
.navbar-style {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}
.avatar-style {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}
.nav-item {
  padding-right: 1rem;
}

.btn {
  margin-left: 1rem;
}

.list-item {
  list-style-type: none;
}

.nav-item {
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #c8c8c8ad;
  border-radius: 0.5em;
}
.header {
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1000;
}


/* Seccion 1: Imagen - Opacidad - Título*/

.section-1 {
  width: 100vw;
  height: 100vh;
}
.tamaño-caja{
  width: 100vw;
  height: 100vh;
}
.video {
  position: absolute;
  width: 100vw;
  top: -4rem;
  object-fit: cover;
}

.video-opacity {
  font-size: 2em;
  color: white;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.567);
}
.video-title {
  position: absolute;
  width: 100%;
  height: 30%;
  color: rgb(255, 255, 255);
}

.title {
  font-size: 5rem;
  margin-top: 5em;
  font-weight: 900;
  letter-spacing: 6px;
  text-align: center;
}
.shopping-description {
  font-size: 1.6rem;
  text-align: center;
}


/* Sección 2: Algunos locales */

.section-2 {
  width: 100vw;
  height: 100vh;

}

@media screen and (min-width: 568px) {
  .cards-wrapper {
    display: flex;
    margin: 10em;
  }
    .card {
    margin: 0 1em;
    width: calc(100%/3);
  }
    .image-wrapper {
    height: 22vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 567px) {
  .card:not(:first-child){
    display: none;
  }
}

.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}

.card {
  transition: transform 0.5s ease; /* Transición suave de 0.5 segundos */
}

.card:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 3px rgba(110,110,110,0.5);
}

.contenedor-locales {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
  /*background: linear-gradient(315deg, rgba(0,128,240,0.4) 31%, rgba(0,212,255,0.4) 92%);*/
}

.subtitle {
  background: linear-gradient(315deg, rgba(0,128,240,0.4) 31%, rgba(0,128,240,0.4) 92%);
  background-color: black;
  color: white;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
}

.locales {
  font-size: 2rem;
  display: inline-block;
  width: 20vw;
  margin: 0 40vw;
  margin-top: 5px;
  padding: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}

/* Sección 3 */

.section-3 {
  width: 100vw;
  height: 100vh;
  margin-top: 10em;
}
.informacion {
  padding: 2% 15%;
  font-size: 1.5rem;
  text-align: justify;
}
.shopping-image {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Footer */

.footer {
  background: linear-gradient(315deg, rgba(0,128,240,0.4) 31%, rgba(0,128,240,0.4) 92%);
  background-color: black;
  justify-content: space-around;
  display: flex;
  font-size: 20px;
  color:snow;
  font-weight: 600;
  padding: 2em 0 2em 0;
  margin: 10em 0 0 0;
}

.logo_footer {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 15px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.logo_footer a {
  color:snow;
}

.footer-titles {
  display: flex;
  margin-top: 10px;
  margin-bottom: 5px;
  padding-left: 20px;
  text-align: left;
}
footer a{
  text-decoration: none;
  padding: 0 12px;
}
.f4 h3{
  margin-left: 25px;
}
.img_mapa img {
  width: 400px;
  height: 208px;
  border: double 6px black ;
}

.f3 a{
  color:snow;
}
.f3 h3{
  margin-bottom: 50px;
}

.site_map li{ 
  display: block;
  padding: 3px 3px;
  text-align: left;
}
.site_map a{
color: snow;
margin-right: 30px;
}
.site_map ul{
  justify-content: center;
  align-items: center;
  /* margin: 0; */
}
.logo_footer_form{
  display: flex;
  align-items: center;
}

@media (max-width:800px) {
  .f4, .f1{
    display: none;
  }

  .avatar {
    width: auto;
  }
}