body {
  overflow-x: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #ffffff;
  width: 100%;
}
@media screen and (max-width: 1200px) and (min-height: 600px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) and (max-height: 600px) {
  html {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) and (max-height: 400px) {
  html {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 6px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section:target {
    padding-top: 60px; /* Ajusta según el tamaño de tu encabezado */
}

/* Seccion 1: Imagen - Opacidad - Título*/

.video {
  position: absolute;
  width: 100%;
  height: 93vh;
  object-fit: cover;
}
.video-opacity {
  position: relative;
  font-size: 2em;
  color: white;
  width: 100%;
  height: 93vh;
  background-color: rgba(0, 0, 0, 0.567);
}
.title {
  display: block;
  width: 100%;
  font-size: 5rem;
  padding-top: 19%;
  font-weight: 900;
  letter-spacing: .3rem;
  margin: auto;
  text-align: center;
  margin-bottom: 2rem;
}
.shopping-description {
  display: block;
  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  margin: auto;
}

/* Sección 2: Algunos locales */

.section-2 {
  width: 100%;
}
.image-wrapper img{
  max-width: 100%;
  max-height: 100%;
}
.card {
  transition: transform 0.5s ease; /* Transición suave de 0.5 segundos */
}
.card:hover {
  z-index: 1;
  transform: scale(1.2);
  box-shadow: 0px 0px 20px 3px rgba(110,110,110,0.5);
}
.contenedor-locales {
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgb(255, 255, 255);
}
.subtitle {
  background-color: #003360;
  color: white;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
}
.locales {
  font-size: 2rem;
  display: inline-block;
  width: 20vw;
  margin: 0 40vw;
  margin-top: 5px;
  padding: 1rem;
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  text-align: center;
}
@media screen and (min-width: 992px) {
  .cards-wrapper {
    display: flex;
    margin: 10em;
  }
    .card {
    margin: 0 1em;
    width: calc(100%/3);
  }
    .image-wrapper {
    height: 22vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .locales {
    display: none;
  }
  .card:not(:first-child){
    display: none;
  }
  .card:nth-child(1){
    width: 50%;
    margin: 0 auto;
    height: 100vw;
    max-height: 500px;
  }
  .cards-wrapper {
    display: flex;
    margin: 14em 0;
    align-items: center;
    justify-content: center;
  }
}

/* Sección 3 */

.section-3 {
  width: 100%;
}
.informacion {
  padding: 2% 15%;
  font-size: 1.5rem;
  text-align: justify;
}
.shopping-image {
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
