body{
    margin:0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    width: 100vw;
    background-image: url(../Imagenes-Videos/shopping.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: auto;
    min-height: 48vh;
    width: 20vw;
    max-width: 300px;
    min-width: 350px;
}

.form{
    display: block;
    min-width: 340px;
    max-width: 340px;
    width: 100%;
    margin-bottom: 0;
    margin: auto;
    min-height: 15vh;
    height: 60vh;
    max-height: 480px;
    background-color: white;
    border-radius: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;  
    position: relative;
    overflow-x: hidden;
}

@media(max-height: 300px){
    .form{
        overflow:scroll;
    }
}
.logo-cont{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    min-height: 12vh;
    padding-bottom: 1.5rem;
    margin: auto;
}


.logo{
    margin-top: 1rem;
    min-width: 100px;
    max-height: 200px;
    height: 100px;
    min-height: 100px;
}
.logo-cont a{
    position: absolute;
    min-width: 100px;
    width: 100px;
    height: 100px;
    min-height: 12vh;
    max-height: 12vh;

}

.username_form{
    border-bottom: 2px solid rgb(0, 0, 0);
    position: relative;
    min-width: 280px;
    width: 280px;
    max-width: 300px;
    margin-left: 1.7rem;
    margin-top: 1.2rem;
    padding-bottom: 0.5rem;
    min-height: 20px;
    max-height: 60px;
    margin-right: 1.7rem;
}
.form-control{
    max-width: 240px;
    margin-left: 2.5rem;
    padding-top: 1rem;
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0);
    outline: none;
    border: none;
    background: transparent;
}

.avatar-de-email{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2%;
    left: 91%;
}

.password_form img{
    cursor: pointer;
}

.username_form label{
    position: absolute;
    font-size: 16px;
    top: 120%;
    left: 4%;
    font-weight: 700;
    color: #000000be;
    background-color: transparent;
    transform: translateY(-180%);
    transition: 0.5s;
    display: block;
}
.username_form input{
    color: rgb(0, 0, 0);
    margin-left: 0.4rem;
    padding: 0;
    font-size: 16.5px;
    width: 17.2rem;
    border: none;
    background: transparent;
    outline: none;
    display: block;
}


.username_form input:focus ~  label,
.username_form input:valid ~  label{
    top: 10px;
}

.password_form{
    border-bottom: 2px solid rgb(0, 0, 0);
    position: relative;
    width: 280px;
    max-width: 300px;
    min-height: 20px;
    max-height: 60px;
    margin-left: 1.7rem;
    margin-top: 2.2rem;
    padding-bottom: 0.5rem;
    margin-right: 1.7rem;
    height: 20px;
}
.password_form input{
    color: rgb(0, 0, 0);
    margin-left: 0.4rem;
    padding: 0;
    font-size: 16px;
    width: 17.2rem;
    outline: none;
    border: none;
    background: transparent;
}

.password_form label{
    position: absolute;
    font-size: 16px;
    top: 120%;
    left: 4%;
    font-weight: 700;
    color: #000000be;
    transform: translateY(-180%);
    transition: 0.5s;
    display: block;
}

.password_form input:focus ~ label,
.password_form input:valid ~ label{
    top: 9px;
}

.user_type_box{
    display: flex;
    padding-top: 1.5rem;
    margin-left: 3.5rem;
    height: 1rem;
    width: 100%;
    max-width: 250px;
    position: relative;
}
.client_box{
    display: inline;
    border-radius: 0.3rem;
    background-color:  rgba(255, 255, 255, 0);
    margin-left: 1rem;
}
.owner_box{
    display: inline;
    border-radius: 0.3rem;
    background-color:  rgba(255, 255, 255, 0);
}
.owner_box label{
    text-align: end;
    width: 14vw;
    min-width: 130px;
    max-width: 130px;
    display: block;
    position: relative;
    top: -25%; 
    left: 1%;
    font-weight: 500;
}
.owner_box input[type="radio"]{
    display: none;
}
.client_box input[type="radio"]{
    display: none;
}
.owner_box span{
    height: 11px;
    width: 11px;
    min-width: 12px;
    border-radius: 50%;
    border: 2px solid rgb(19, 117, 209);
    display: block;
    position: absolute;
    top: 24px;
}
.owner_box span:after{
    content: "";
    height: 75%;
    width: 75%;
    background: rgb(19, 117, 209);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 300ms ease-in-out 0s;
}
.owner_box input[type="radio"]:checked ~ span::after{
    transform: translate(-50%, -50%) scale(1);
}
.client_box span{
    height: 11px;
    width: 11px;
    min-width: 12px;
    border-radius: 50%;
    border: 2px solid rgb(19, 117, 209);
    display: block;
    position: absolute;
    left: 152px;
    top: 24px;
}
.client_box span:after{
    content: "";
    height: 75%;
    width: 75%;
    background: rgb(19, 117, 209);
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    border-radius: 50%;
    transition: 200ms ease-in-out 0s;
}
.client_box label{
    display: block;
    position: relative;
    width: 75px;
    min-width: 60px;
    max-width: 80px;
    text-align: end;
    top: -25%;
    font-weight: 500;
}

.client_box input[type="radio"]:checked ~ span::after{
    transform: translate(-50%, -50%) scale(1);
}

.submit{
    position: relative;
    background-color: rgb(20, 116, 206);
    border-radius: 0.5rem;
    border: 0;
    color: white;
    margin-top: 0;
    min-width: 240px;
    margin-left: 3.2rem;
    height: 3rem;
    width: 15rem;
    font-weight: 600;
    font-family: Helvetica, sans-serif;
}
:hover.submit{
    background-color: rgb(0, 93, 180);
    transition: 0.2s;
}
:hover.form-control{
    background-color:rgb(255, 255, 255);
}
.regis{
    margin-left: 2.9rem;
    margin-bottom: 0;
    margin-top: 1rem;
    color: rgb(0, 0, 0);
}
a{
    color: rgb(54, 74, 255);
    font-weight: 700;
    text-decoration: none;
}
a:visited{
    color: rgb(54, 74, 255);
}
.error{
    max-height: 3vh;
    min-width: 5vw;
    margin-left: 4rem;
    animation: cambio 3s linear forwards;
}
@keyframes cambio{
    0%{
        color: red;
    }
    50%{
        color: rgb(255, 87, 87);
    }
    100%{
        color: rgb(255, 255, 255);
        display: none;
    }
}
.register{
    max-height:3vh;
    min-width: 5vw;
    margin-left: 3.5rem;
    color: rgb(0, 143, 0);
}
.form-floating{
    margin: 0;
}
.footer_form{
    position: relative;
    padding-top: 2rem;
    justify-content: center;
    align-items: center;
    min-height: 110px;
    height: 110px;
}
.cont_error{
    height: 4vh;
    max-height: 4vh;
    min-height: 4vh;
    min-width: 20vw;    
}

@media (max-width: 450px) {
    .form{
        border-radius: 0;
        max-width: 100%;
        min-width: 100%;
        width: 100%;
        max-height: 100%;
        min-height: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        padding-top: 200px;
        background: rgba(255,255,255,0.8);
    }
    .logo-cont{
        margin: auto;
    }
    .user_type_box{
        margin: auto;
    }
    .username_form,
    .password_form {
        min-width: 200px;
        max-width: 100%;
        width: 300px;
        margin: auto;
        margin-top: 3rem;
    }
    .regis{
        color: rgb(0, 0, 0);
        font-weight: 700;
    }
    .footer_form{
        text-align: center;
        margin-right: 4rem;
    }
}

@media(max-width: 355px){
    .footer_form{
        display: flex;
        flex-wrap: wrap;
    }
}

/*Fondo de los inputs*/
.username_form input:hover {
    background-color:transparent;
}

.username_form input:focus {
    background-color:transparent;
    outline: none;
}

.password_form input:hover {
    background-color:transparent;
}

.password_form input:focus {
    background-color:transparent;
    outline: none;
}

.enviado{
    margin-left: 5.2rem;
    color: green;
}

.logo_mail{
    margin-top: 1rem;
    min-width: 100px;
    max-height: 200px;
    height: 100px;
    min-height: 100px;
    margin-left: 4rem;
}

.Validar_mail{
    position: relative;
    background-color: rgb(4, 134, 255);
    border-radius: 0.5rem;
    border: 0;
    color: white;
    margin-top: 0;
    min-width: 240px;
    height: 3rem;
    width: 15rem;
    margin-left: 0.2rem;
    font-family: Helvetica, sans-serif;
}

@media(max-height:835px){
    .username_form{
        margin-top: 2rem;
    }
}
@media(max-height:637px){
    .username_form{
        margin-top: 2.7rem;
    }
}