/* HEADER y NAV */

.icon {
  width: 100%;
  height: 100%;
}

.navbar-style {
  width: 3rem;
  height: 3rem;
  margin-right: 2rem;
}

.avatar-style {
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.nav-item {
  padding-right: 1rem;
}

.btn {
  margin-left: 1rem;
}

.list-item {
  list-style-type: none;
}

.nav-item {
  transition: background-color 0.3s;
}

.nav-item:hover {
  background-color: #c8c8c8ad;
  border-radius: 0.5em;
}

.header {
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.dropdown-item:active {
  background: #003360;
  color: #fffafa;
}



/* SECTION */

.page_title {
  background-color: #003360;
  color: #fffafa;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  padding: 0.3rem;
}

.search_box {
  margin: auto;
  margin-top: 3rem;
  padding: 2rem 5rem;
  background-color: #efefef;
  width: 80vw;
}

.search_label {
  display: block;
  margin-left: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
}

.form-search__input {
  margin-top: 7px;
  margin-left: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 35vw;
}

.form-search__button {
  margin-left: 5px;
  border: 1px solid #003360;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fffafa;
  background-color: #003360;
}

.form-search__button:hover {
  background-color: #007bff;
  border: 1px solid #007bff;
  transition: all 0.2s;
}

.form-search__create-button {
  margin-left: 5px;
  border: 1px solid #198754;
  border-radius: 5px;
  padding: 10px 20px;
  color: #fffafa;
  background-color: #198754;
}

.form-search__create-button:hover {
  background-color: #09ce72;
  border: 1px solid #09ce72;
  transition: all 0.2s;
}

.table_box {
  margin: auto;
  margin-top: 3rem;
  width: 80vw;
  overflow-x: auto; 
  -webkit-overflow-scrolling: touch; 
}

.table_list {
  width: 100%;
  border-collapse: collapse;
  empty-cells: show;
}

th {
  text-align: center;
  background-color: #003360;
  color: #fffafa;
  border-right: 3px solid #fff;
  padding: 10px;
}

tr:nth-child(odd) {
  background-color: #f0f5fa;
}

td {
  border-right: 3px solid #fff;
  padding: 10px;
  box-sizing: content-box;
}

.button_cell {
  text-align: center;
}

.modify_button {
  color: #111;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 10px;
}

.delete_button {
  color: #c90a0a;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0 10px;
}

.modify_symbol, .delete_symbol {
  width: 100%;
  height: 100%;
  padding: 0;
  width: 1.5rem;
}

.modify_button:hover {
  color: #646262;
  transition: all 0.2s;
}

.delete_button:hover {
  color: #e74545;
  transition: all 0.2s;
}

@media (max-width:875px) {
  .modify_button, .delete_button {
    width: 1.5rem;
    margin: 1px;
  }

  .search_box {
    padding: 1rem 1rem;
  }

  .form-search__input{
    width: 60%;
  }

  .form-search__button {
    padding: 10px 10px;
  }

  .form-search__create-button {
    margin-top: 10px;
    padding: 10px;
  }
}



/* FOOTER */

.footer {
  background-color: #003360;
  justify-content: space-evenly;
  display: flex;
  font-size: 20px;
  color: #fffafa;
  font-weight: 600;
  padding: 1em 0 2em 0;
  margin: 10em 0 0 0;
}

.logo_footer {
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 15px;
  box-sizing: border-box;
  margin: 0;
  margin-top: 20px;
  text-align: left;
}

.logo_footer a {
  color:#fffafa;
}

.footer-titles {
  display: flex;
  margin-top: 10px;
  margin-bottom: 13px;
  padding-left: 20px;
  text-align: left;
  font-size: 20px;
}

footer a{
  text-decoration: none;
  padding: 0 12px;
  font-size: 15px;
}

.f4 h3{
  margin-left: 25px;
}

.img_mapa img {
  width: 400px;
  height: 208px;
  border: double 6px black ;
}

.f3 a{
  color:#fffafa;
}

.f3 h3{
  margin-bottom: 50px;
}

.site_map li{ 
  display: block;
  padding: 3px 3px;
  text-align: left;
}

.site_map a{
color: #fffafa;
margin-right: 30px;
}

.site_map ul{
  justify-content: center;
  align-items: center;
  /* margin: 0; */
}

.logo_footer_form{
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  .f4, .f1{
    display: none;
  }
}

